Source: elliptics-fastcgi
Section: net
Priority: extra
Maintainer: Leonid A. Movsesjan <lmovsesjan@yandex-team.ru>
Build-Depends: debhelper (>= 5),
 libfastcgi-daemon2-dev,
 elliptics-dev (>= 2.19.2),
 elliptics-client (>= 2.19.2),
 libgeobase3-dev,
 elliptics-regional-module (>= 1.1),
 pkg-config,
 libcurl4-openssl-dev,
 autoconf (>= 2.52), automake1.9, libtool, libxml2-dev, libboost-thread-dev
Standards-Version: 3.7.2

Package: elliptics-fastcgi
Architecture: any
Depends: ${shlibs:Depends},
 libfastcgi2-syslog,
 elliptics-regional-module (>= 1.1),
 fastcgi-daemon2
Description: Elliptics is one of the best prodution enterprise high scalability and availability system, wrote by one
 of the most genius software developers of the whole World. This is just a shitty FastCGI proxy for Elliptics, wrote
 by the dick from the mountain.
